

--## 🔒 Câu 1: Phân quyền (Security)

--Bạn sẽ dùng tài khoản Admin (ví dụ: `sa`) để làm các bước (a) và (b).

--### a. Tạo Logins và Users

--1. Tạo Login (NV1, NV2, QL) trên Server:

--  * Trong Object Explorer, mở thư mục Security (cấp Server, bên ngoài thư mục Databases).
--  * Chuột phải vào Logins -\> chọn New Login...
--  * Điền thông tin cho `NV1`:
--      * Login name: `NV1`
--      * Chọn SQL Server authentication.
--      * Password và Confirm password: `P@ssw0rd123`
--      * Bỏ check ô "Enforce password policy" (để dùng mật khẩu đơn giản khi thi).
--      * Bên trái, chọn trang Default Database: `AdventureWorks2008R2`.
--  * Nhấn nút "Script" (không nhấn OK).
--  * Làm y hệt các bước trên để tạo `NV2` và `QL`.

--2. Tạo User (NV1, NV2, QL) trong Database:

--  * Trong Object Explorer, mở Databases -\> AdventureWorks2008R2 -\> Security.
--  * Chuột phải vào Users -\> chọn New User...
--  * Điền thông tin cho `NV1`:
--      * User name: `NV1`
--      * Login name: `NV1` (gõ vào hoặc nhấn "..." để tìm).
--  * Nhấn "Script".
--  * Làm y hệt các bước trên để tạo `NV2` và `QL`.

--Code T-SQL (Mẫu bạn sẽ nhận được):

--```sql
-- Code tạo Logins (chạy trên [master])
USE [master]
GO
CREATE LOGIN [NV1] WITH PASSWORD=N'P@ssw0rd123', DEFAULT_DATABASE=[AdventureWorks2008R2]
GO
CREATE LOGIN [NV2] WITH PASSWORD=N'P@ssw0rd123', DEFAULT_DATABASE=[AdventureWorks2008R2]
GO
CREATE LOGIN [QL] WITH PASSWORD=N'P@ssw0rd123', DEFAULT_DATABASE=[AdventureWorks2008R2]
GO

SELECT * 
FROM SYS.SQL_LOGINS 
-- Code tạo Users (chạy trên [AdventureWorks2008R2])
USE [AdventureWorks2008R2]
GO
CREATE USER [NV1] FOR LOGIN [NV1]
GO
CREATE USER [NV2] FOR LOGIN [NV2]
GO
CREATE USER [QL] FOR LOGIN [QL]
GO
--```

--### b. Tạo Role và Phân quyền

--1. Tạo Role NhanVien:

--  * Trong AdventureWorks2008R2 -\> Security -\> Roles.
--  * Chuột phải vào Database Roles -\> New Database Role...
--  * Role name: `NhanVien`
--  * Nhấn "Script".

--2. Phân quyền cho Role NhanVien:

--  * Sau khi tạo role, chuột phải vào role `NhanVien` vừa tạo -\> Properties.
--  * Chọn trang Securables.
--  * Nhấn nút Add.
--  * Trong cửa sổ mới, chọn Specific objects... -\> OK.
--  * Nhấn Object Types... -\> check Tables -\> OK.
--  * Nhấn Browse -\> tìm và check bảng `[HumanResources].[EmployeeDepartmentHistory]` -\> OK.
--  * Nhấn vào tên bảng `EmployeeDepartmentHistory` ở danh sách trên.
--  * Ở danh sách quyền (Permissions) bên dưới, check vào các ô `Delete`, `Insert`, `Select`, `Update`.
--  * Nhấn "Script".

--3. Thêm User vào Role:

--  * Chuột phải vào User `NV1` -\> Properties.
--  * Chọn trang Membership.
--  * Check vào role `NhanVien`.
--  * Nhấn "Script".
--  * Làm tương tự:
--      * Chuột phải vào `NV2` -\> Properties -\> Membership -\> check `NhanVien` -\> Nhấn "Script".
--      * Chuột phải vào `QL` -\> Properties -\> Membership -\> check `db_datareader` -\> Nhấn "Script".

--Code T-SQL (Mẫu bạn sẽ nhận được):

--```sql
USE [AdventureWorks2008R2]
GO
CREATE ROLE [NhanVien]
GO
-- Code cấp quyền cho Role NhanVien
GRANT DELETE, INSERT, SELECT, UPDATE ON [HumanResources].[EmployeeDepartmentHistory] TO [NhanVien]
GO
-- Code thêm user vào role
ALTER ROLE [NhanVien] ADD MEMBER [NV1]
GO
ALTER ROLE [NhanVien] ADD MEMBER [NV2]
GO
ALTER ROLE [db_datareader] ADD MEMBER [QL]
GO
--```

--### c. & d. Kiểm tra quyền (Cách để Chụp màn hình)

--Đây là phần quan trọng để "chứng minh" khi thi. Bạn sẽ đăng nhập riêng rẽ bằng từng tài khoản. (Giả sử Mã SV là `23630851`).

--1. Thao tác của NV1:

--  * Ngắt kết nối (Disconnect) tài khoản Admin.
--  * Kết nối lại (Connect) với:
--      * Authentication: `SQL Server Authentication`
--      * Login: `NV1`
--      * Password: `P@ssw0rd123`
--  * Mở cửa sổ query mới.
--  * Gõ và chạy lệnh sửa (sẽ thành công):
--    ```sql
--     CUA SO QUERY CUA NV1
    USE AdventureWorks2008R2;

     --Sửa cột ModifiedDate như đề bài yêu cầu
    UPDATE HumanResources.EmployeeDepartmentHistory
    SET ModifiedDate = GETDATE()
    WHERE BusinessEntityID = 51; -- 2 ký tự cuối MSV

    PRINT 'NV1 - Update ModifiedDate thành công';
--    ```
--    > 📸 CHỤP MÀN HÌNH 1: Cửa sổ query của `NV1` chạy lệnh UPDATE thành công.
--  * Gõ và chạy lệnh xem bảng Employee (sẽ thất bại, để trả lời câu d):
--    ```sql
--     CUA SO QUERY CUA NV1
--    SELECT * FROM HumanResources.Employee;
--    ```
--    > 📸 CHỤP MÀN HÌNH 2: Cửa sổ query của `NV1` báo lỗi "The SELECT permission was denied...".

--2. Thao tác của NV2:

--  * Ngắt kết nối `NV1`. Kết nối lại với `NV2` (Password: `P@ssw0rd123`).
--  * Mở cửa sổ query mới.
--  * Gõ và chạy lệnh xóa (sẽ thành công):
--    ```sql
--     CUA SO QUERY CUA NV2
    USE AdventureWorks2008R2;
    DELETE FROM HumanResources.EmployeeDepartmentHistory
    WHERE BusinessEntityID = 21; -- 2 ký tự đầu MSV

    PRINT 'NV2 - Delete thành công';
--    ```
--    > 📸 CHỤP MÀN HÌNH 3: Cửa sổ query của `NV2` chạy lệnh DELETE thành công.

--3. Thao tác của QL:

--  * Ngắt kết nối `NV2`. Kết nối lại với `QL` (Password: `P@ssw0rd123`).
--  * Mở cửa sổ query mới.
--  * Gõ và chạy lệnh xem (sẽ thành công):
--    ```sql
--     CUA SO QUERY CUA QL
    USE AdventureWorks2008R2;
     --Xem kết quả NV1 (ID 45) - sẽ thấy ModifiedDate đã thay đổi
    SELECT * FROM HumanResources.EmployeeDepartmentHistory WHERE BusinessEntityID = 51;
     --Xem kết quả NV2 (ID 21 - sẽ ra 0 dòng)
    SELECT * FROM HumanResources.EmployeeDepartmentHistory WHERE BusinessEntityID = 23;
     --Xem bảng Department (theo đề)
    SELECT * FROM HumanResources.Department;
--    ```
--    > 📸 CHỤP MÀN HÌNH 4: Cửa sổ query của `QL` xem được cả 3 kết quả.
--  * Trả lời câu d: `QL` xem được `HumanResources.Employee` vì thuộc role `db_datareader`. `NV1`, `NV2` không xem được (như hình chụp 2).
--  * Gõ và chạy lệnh kiểm tra câu d (sẽ thành công):
--    ```sql
--     CUA SO QUERY CUA QL
--    SELECT TOP 10 * FROM HumanResources.Employee;
--    ```
--    > 📸 CHỤP MÀN HÌNH 5: Cửa sổ query của `QL` xem được bảng `Employee` thành công.

--### e. Thu hồi quyền và Xóa Role

--  * Đăng nhập lại bằng tài khoản Admin (`sa`).
--  * Thu hồi quyền (Dùng GUI):
--      * Chuột phải vào role `NhanVien` -\> Properties.
--      * Vào trang Securables, chọn `EmployeeDepartmentHistory`.
--      * Bỏ check tất cả các quyền (Delete, Insert, Select, Update).
--      * Nhấn "Script".
--  * Xóa User khỏi Role (Dùng GUI):
--      * Chuột phải vào User `NV1` -\> Properties -\> Membership.
--      * Bỏ check `NhanVien`.
--      * Nhấn "Script". (Làm tương tự cho `NV2`).
--  * Xóa Role (Dùng GUI):
--      * Chuột phải vào role `NhanVien` -\> Delete.
--      * Nhấn "Script".

--Code T-SQL (Mẫu bạn sẽ nhận được):

--```sql
USE [AdventureWorks2008R2]
GO
 --Thu hồi quyền
REVOKE DELETE, INSERT, SELECT, UPDATE ON [HumanResources].[EmployeeDepartmentHistory] FROM [NhanVien]
GO
 --Xóa user khỏi role
ALTER ROLE [NhanVien] DROP MEMBER [NV1]
GO
ALTER ROLE [NhanVien] DROP MEMBER [NV2]
GO

ALTER ROLE [db_datareader] DROP MEMBER [QL]
GO

 --Xóa role
DROP ROLE [NhanVien]
GO
--```

---

--## 💾 Câu 2: Backup và Restore

--Bạn phải đăng nhập bằng tài khoản Admin (`sa`).

--### 💡 Bước 0: Đặt Recovery Model là FULL

--Đây là bước bắt buộc để có thể Log Backup (câu c).

--  * Chuột phải vào CSDL `AdventureWorks2008R2` -\> Properties.
--  * Chọn trang Options.
--  * Tìm mục Recovery model: đổi thành "Full".
--  * Nhấn "Script" (Hoặc nhấn OK cũng được).

--Code T-SQL (Mẫu):

--```sql
ALTER DATABASE [AdventureWorks2008R2] SET RECOVERY FULL
--```

--### a. Transaction Tăng lương và Full Backup

--Phần này phải kết hợp: Tự gõ code Transaction và Dùng GUI để Backup.

--1. Chạy Transaction Tăng lương:

--  * Mở cửa sổ query, dán và chạy code này:
--    ```sql

     --Kiểm tra dữ liệu TRƯỚC (chụp hình)
USE AdventureWorks2008R2;
GO

PRINT N'--- TRƯỚC KHI TĂNG LƯƠNG ---';
SELECT 
    eph.BusinessEntityID, 
    edh.ShiftID,
    eph.Rate
FROM 
    HumanResources.EmployeePayHistory AS eph
JOIN 
    HumanResources.EmployeeDepartmentHistory AS edh 
    ON eph.BusinessEntityID = edh.BusinessEntityID
WHERE 
    edh.ShiftID IN (2, 3) -- Chỉ lấy ca Chiều (2) và Đêm (3)
ORDER BY
    edh.ShiftID, eph.BusinessEntityID;
GO

    BEGIN TRANSACTION;
     --Tăng 10% cho ca chiều (ShiftID = 2)
    UPDATE HumanResources.EmployeePayHistory
    SET Rate = Rate * 1.10
    WHERE BusinessEntityID IN (SELECT BusinessEntityID FROM HumanResources.EmployeeDepartmentHistory WHERE ShiftID = 2);
     --Tăng 20% cho ca đêm (ShiftID = 3)
    UPDATE HumanResources.EmployeePayHistory
    SET Rate = Rate * 1.20
    WHERE BusinessEntityID IN (SELECT BusinessEntityID FROM HumanResources.EmployeeDepartmentHistory WHERE ShiftID = 3);
    COMMIT TRANSACTION;



PRINT N'--- SAU KHI TĂNG LƯƠNG ---';
SELECT 
    eph.BusinessEntityID, 
    edh.ShiftID,
    eph.Rate
FROM 
    HumanResources.EmployeePayHistory AS eph
JOIN 
    HumanResources.EmployeeDepartmentHistory AS edh 
    ON eph.BusinessEntityID = edh.BusinessEntityID
WHERE 
    edh.ShiftID IN (2, 3) -- Chỉ lấy ca Chiều (2) và Đêm (3)
ORDER BY
    edh.ShiftID, eph.BusinessEntityID;
GO
--    ```
--    > 📸 CHỤP MÀN HÌNH 6 & 7: Dữ liệu Lương (Rate) TRƯỚC và SAU khi tăng.

--2. Tạo Full Backup (Dùng GUI):

--  * Chuột phải vào CSDL `AdventureWorks2008R2` -\> Tasks -\> Back Up...
--  * Backup type: `Full`.
--  * Destination: `Disk`. Nhấn Add để chọn nơi lưu và đặt tên file (ví dụ: `C:\Backup\AW_Full.bak`). (Hãy đảm bảo thư mục `C:\Backup` tồn tại).
--  * Bên trái, chọn trang Media Options: Chọn "Overwrite all existing backup sets".
--  * Nhấn "Script".

--Code T-SQL (Mẫu):
BACKUP DATABASE [AdventureWorks2008R2] 
TO DISK = N'D:\Backup\backup-full.bak' -- Sửa đường dẫn VÀ thêm .bak
WITH INIT
GO

--```sql
--BACKUP DATABASE [AdventureWorks2008R2] 
--TO  DISK = N'C:\Backup\AW_Full.bak' 
--WITH INIT, NAME = N'AdventureWorks2008R2-Full Database Backup', STATS = 10
--GO
--```

--### b. Xóa và Differential Backup

--1. Chạy lệnh Xóa:

--  * Mở cửa sổ query, dán và chạy code này:
--    ```sql
    USE AdventureWorks2008R2;
     --Kiểm tra TRƯỚC (chụp hình)
    PRINT N'--- TRUOC KHI XOA ---';
    SELECT COUNT(*) AS SoLuongDong FROM Production.ProductCostHistory;

    DELETE FROM Production.ProductCostHistory;

     --Kiểm tra SAU (chụp hình - kết quả là 0)
    PRINT N'--- SAU KHI XOA ---';
    SELECT COUNT(*) AS SoLuongDong FROM Production.ProductCostHistory;
--    ```
--    > 📸 CHỤP MÀN HÌNH 8 & 9: Số lượng dòng TRƯỚC (ví dụ: 378) và SAU (0).

--2. Tạo Differential Backup (Dùng GUI):

--  * Chuột phải vào CSDL -\> Tasks -\> Back Up...
--  * Backup type: `Differential`.
--  * Destination: `Disk`. Thêm file mới (ví dụ: `C:\Backup\AW_Diff.bak`).
--  * Trang Media Options: Chọn "Overwrite all existing backup sets".
--  * Nhấn "Script".

--Code T-SQL (Mẫu):

BACKUP DATABASE [AdventureWorks2008R2] TO  DISK = N'D:\Backup\backup-diff.bak' WITH  DIFFERENTIAL
GO

--```sql
--BACKUP DATABASE [AdventureWorks2008R2] 
--TO  DISK = N'C:\Backup\AW_Diff.bak' 
--WITH  DIFFERENTIAL, INIT, NAME = N'AdventureWorks2008R2-Differential Database Backup', STATS = 10
--GO
--```

--### c. Thêm Phone và Log Backup

--Giả sử 4 ký tự cuối Mã SV là `0851`.

--1. Chạy lệnh Thêm Phone:

--  * Mở cửa sổ query, dán và chạy code này:
--    ```sql
    USE AdventureWorks2008R2;
     --Kiểm tra TRƯỚC (chụp hình)
    PRINT N'--- TRUOC KHI THEM PHONE ---';
    SELECT * FROM Person.PersonPhone WHERE BusinessEntityID = 0851;

--     Đề bài có ModifiedDate, nên ta chèn vào
    INSERT INTO Person.PersonPhone (BusinessEntityID, PhoneNumber, PhoneNumberTypeID, ModifiedDate)
    VALUES (0851, '0909-123-456', 1, GETDATE()); -- Giả sử 1 là 'Cell'

--     Kiểm tra SAU (chụp hình)
    PRINT N'--- SAU KHI THEM PHONE ---';
    SELECT * FROM Person.PersonPhone WHERE BusinessEntityID = 0851;
--    ```
--    > 📸 CHỤP MÀN HÌNH 10 & 11: Kết quả TRƯỚC (rỗng) và SAU (có SĐT mới).

--2. Tạo Log Backup (Dùng GUI):

--  * Chuột phải vào CSDL -\> Tasks -\> Back Up...
--  * Backup type: `Transaction Log`.
--  * Destination: `Disk`. Thêm file mới (ví dụ: `C:\Backup\AW_Log.trn`).
--  * Trang Media Options: Chọn "Overwrite all existing backup sets".
--  * Nhấn "Script".

--Code T-SQL (Mẫu):

BACKUP LOG [AdventureWorks2008R2] TO  DISK = N'D:\Backup\backup-log.bak' WITH INIT
GO

--```sql
--BACKUP LOG [AdventureWorks2008R2] 
--TO  DISK = N'C:\Backup\AW_Log.trn' 
--WITH INIT, NAME = N'AdventureWorks2008R2-Transaction Log Backup', STATS = 10
--GO
--```

--### d. Xóa và Phục hồi CSDL

--1. Xóa CSDL (Dùng GUI):

--  * Chuột phải vào CSDL `AdventureWorks2008R2` -\> Delete.
--  * Check vào "Close existing connections".
--  * Nhấn "Script".
--  * (Chạy code `DROP DATABASE` mà SSMS tạo ra).

--2. Phục hồi CSDL (Dùng GUI):

--  * Chuột phải vào thư mục Databases (bên ngoài) -\> Restore Database...
--  * Trong cửa sổ "Restore Database":
--      * Source: Chọn Device -\> nhấn nút "..." (ba chấm).
--      * Nhấn Add, tìm và chọn cả 3 file backup của bạn (`AW_Full.bak`, `AW_Diff.bak`, `AW_Log.trn`). Nhấn OK.
--      * SSMS sẽ tự động sắp xếp "Restore plan" (danh sách các file) ở phía dưới.
--  * Bên trái, chọn trang Options.
--  * Restore state: Đảm bảo nó được chọn là `RESTORE WITH RECOVERY` (vì đây là bước cuối cùng).
--  * Nhấn "Script".

--Code T-SQL (Mẫu bạn sẽ nhận được):



DROP DATABASE [AdventureWorks2008R2]
GO




--```sql
USE [master]
-- Bước 1: Restore Full (với NORECOVERY)
RESTORE DATABASE [AdventureWorks2008R2] 
FROM  DISK = N'D:\Backup\backup-full.bak' 
WITH  FILE = 1,  NORECOVERY
GO
-- Bước 2: Restore Differential (với NORECOVERY)
RESTORE DATABASE [AdventureWorks2008R2] 
FROM  DISK = N'D:\Backup\backup-diff.bak' 
WITH  FILE = 1,  NORECOVERY
GO
-- Bước 3: Restore Log (với RECOVERY để hoàn tất)
RESTORE LOG [AdventureWorks2008R2] 
FROM  DISK = N'D:\Backup\backup-log.bak' 
WITH  FILE = 1,  RECOVERY
GO
--```

--3. Kiểm tra dữ liệu (SAU KHI RESTORE):

--  * Chạy lại cả 3 lệnh kiểm tra để đảm bảo dữ liệu đã về đúng trạng thái sau bước (c).
--    ```sql
    USE AdventureWorks2008R2;
--    PRINT N'--- KIEM TRA SAU PHUC HOI ---';
--     1. Kiểm tra lương (phải là lương đã tăng)
	
PRINT N'--- SAU KHI TĂNG LƯƠNG ---';
SELECT 
    eph.BusinessEntityID, 
    edh.ShiftID,
    eph.Rate
FROM 
    HumanResources.EmployeePayHistory AS eph
JOIN 
    HumanResources.EmployeeDepartmentHistory AS edh 
    ON eph.BusinessEntityID = edh.BusinessEntityID
WHERE 
    edh.ShiftID IN (2, 3) -- Chỉ lấy ca Chiều (2) và Đêm (3)
ORDER BY
    edh.ShiftID, eph.BusinessEntityID;
GO

--     2. Kiểm tra bảng xóa (phải là 0 dòng)
	SELECT COUNT(*) AS SoLuongDong FROM Production.ProductCostHistory;
--     3. Kiểm tra SĐT (phải thấy SĐT 0909-123-456 của ID 2345)
    SELECT * FROM Person.PersonPhone WHERE BusinessEntityID = 0851;
--    ```
--    > 📸 CHỤP MÀN HÌNH 12: Kết quả 3 lệnh kiểm tra sau khi phục hồi.

---

--## ✍️ Câu 3: Viết Trigger

--Phần này bạn sẽ dùng UI để lấy code mẫu, sau đó chép code giải đúng vào.

--1. Tạo Trigger (Dùng GUI để lấy Template)

--  * Trong Object Explorer, đi đến Databases -\> AdventureWorks2008R2 -\> Tables.
--  * Tìm và mở rộng bảng `[Production].[ProductReview]`.
--  * Chuột phải vào thư mục Triggers -\> chọn New Trigger....
--  * Một cửa sổ query mới sẽ mở ra với một code mẫu (template).

--2. Hoàn thiện Code Trigger

--  * Bây giờ, bạn xóa code mẫu đó đi và dán code đã giải đúng dưới đây vào, rồi nhấn Execute (F5) để tạo trigger.

--<!-- end list -->

--```sql
USE [AdventureWorks2008R2]
GO

CREATE TRIGGER TR_ProductReview_OnUpdateComments
ON Production.ProductReview
AFTER UPDATE -- Kích hoạt "sau khi" cập nhật
AS
BEGIN
    SET NOCOUNT ON; -- Tắt thông báo "(1 row affected)"

     --Chỉ chạy code bên trong nếu cột "Comments" thực sự được cập nhật
    IF UPDATE(Comments)
    BEGIN
         --Khai báo biến để chứa dữ liệu từ dòng vừa cập nhật
        DECLARE @ProductID INT;
        DECLARE @Rating INT;
        DECLARE @Comments NVARCHAR(384);

         --Lấy dữ liệu từ bảng ảo 'inserted' (chứa dữ liệu MỚI)
         --Giả sử trigger chỉ xử lý 1 dòng 1 lần
        SELECT 
            @ProductID = i.ProductID,
            @Rating = i.Rating,
            @Comments = i.Comments
        FROM inserted i;

         --KIỂM TRA ĐIỀU KIỆN: Mã sản phẩm phải tồn tại trong bảng Product
        IF EXISTS (SELECT 1 FROM Production.Product WHERE ProductID = @ProductID)
        BEGIN
             --TRƯỜNG HỢP 1: TỒN TẠI -> Liệt kê thông tin
            PRINT N'Cập nhật thành công cho ProductID: ' + CAST(@ProductID AS NVARCHAR(10));
            
             --Lấy thông tin liên quan từ bảng Product và bảng inserted
            SELECT 
                p.ProductID,
                p.Color,
                p.StandardCost,
                @Rating AS Rating,      -- Rating từ dòng vừa cập nhật
                @Comments AS Comments   -- Comments từ dòng vừa cập nhật
            FROM 
                Production.Product AS p
            WHERE 
                p.ProductID = @ProductID;
        END
        ELSE
        BEGIN
             --TRƯỜNG HỢP 2: KHÔNG TỒN TẠI -> Báo lỗi và hủy giao tác
            RAISERROR (N'LỖI: Mã sản phẩm %d không tồn tại. Giao tác bị hủy!', 16, 1, @ProductID);
            ROLLBACK TRANSACTION; -- Rất quan trọng: Quay lui
        END
    END
END
GO
--```

--3. Viết lệnh Kích hoạt Trigger (Kiểm tra)

--Trường hợp 1: Cập nhật thành công (ProductID có thật)

--  * Tìm một `ProductReviewID` bất kỳ (ví dụ `1`) và chạy lệnh `UPDATE` này:
--    ```sql
    PRINT N'--- TRƯỜNG HỢP 1: TEST THÀNH CÔNG ---';
    UPDATE Production.ProductReview
    SET Comments = N'Đây là bình luận test trigger thành công.'
    WHERE ProductReviewID = 1;
--    ```
--    > 📸 CHỤP MÀN HÌNH 13: Kết quả chạy thành công, tab Results hiện ra bảng thông tin sản phẩm, tab Messages báo "Cập nhật thành công...".

--Trường hợp 2: Cập nhật thất bại (ProductID không có)

--  * Giải thích khi thi: Lệnh `UPDATE` cho một `ProductID` không có sẽ thất bại và chạy vào nhánh `ELSE` của trigger, báo lỗi "Mã sản phẩm không tồn tại" và `ROLLBACK` giao tác. (Bạn có thể giải thích rằng trường hợp này khó xảy ra tự nhiên vì đã có Khóa Ngoại bảo vệ, nhưng logic trigger đã bắt đúng yêu cầu của đề bài).
--  * *Để kiểm tra (nếu cần)*:
--    ```sql
     --(Giả lập chèn 1 dòng dữ liệu lỗi để test)
    --SET IDENTITY_INSERT Production.ProductReview ON;
    --INSERT INTO Production.ProductReview 
    --    (ProductReviewID, ProductID, ReviewerName, ReviewDate, EmailAddress, Rating, Comments)
    --VALUES 
    --    (9999, 999999, 'Bad User', GETDATE(), 'bad@email.com', 1, 'Initial bad comment');
    --SET IDENTITY_INSERT Production.ProductReview OFF;

     --Bây giờ chạy lệnh UPDATE sẽ kích hoạt nhánh ELSE của trigger
    PRINT N'--- TRƯỜNG HỢP 2: TEST THẤT BẠI ---';
    UPDATE Production.ProductReview
    SET Comments = N'Cố gắng cập nhật bình luận cho ProductID không tồn tại'
    WHERE ProductReviewID = 9999;

     --Dọn dẹp
    DELETE FROM Production.ProductReview WHERE ProductReviewID = 9999;
--    ```