/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Container chính */
.container {
  width: 900px;
  height: 620px;
  display: flex;
  margin: 50px auto;
  color: #050505;
  border: 1px solid #090808;
  background-color: #ffffff;
}

/* Sidebar */
.navm {
  width: 20%;
  height: 100%;
  margin-right: 20px;
}

/* Phần điều hướng */
.nav {
  width: 100%;
  background-color: rgb(130, 0, 167);
  text-align: center;
  padding: 10px 0;

  color: white;
}

.nav h2 {
  margin-bottom: 10px;
}

.nav ul {
  list-style: none;
  /* padding: 0; */
  width: 100%;
}

.nav ul li {
  border-bottom: 3px solid white;
  padding: 8px 10px;
  font-size: 15px;
  text-align: right;
  width: 94%;
  margin: 0 auto;
}
.nav ul li:first-child {
  color: gold;
  border-bottom: 3px solid red;
}

/* Ô tìm kiếm */
/* .search {
  width: 95%;
  margin: 10px auto;
} */

.search input,
.search select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.search button {
  width: 40%;
  padding: 5px;
  cursor: pointer;
}

/* Nội dung chính */
.main {
  width: 80%;
  height: auto;
  background-color: #fffefe;
  padding: 10px;
}

/* Header */
.header1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header1 img {
  width: 50%;
  height: 50%;
}

.he1-2 {
  background-color: rgb(130, 0, 167);
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-left: 30px;
}

.header2 img {
  width: 100%;
  margin: 20px auto;
}

/* Sectio */
.s1-i {
  float: left;
  margin: 0px 10px 10px 0px;
  border-radius: 10%;
}

.section h1 {
  text-align: center;
  color: #8010a5;
  margin-bottom: 10px;
}

.section > i {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.section > a {
  text-align: right;
  display: block;
  color: #8200a7;
  font-weight: bold;
  margin: 10px 0;
}

/* Footer */
.footer {
  width: 100%;

  color: rgb(187, 12, 152);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-top: 2px solid #0ba7ce; /* Đảm bảo border hiển thị */
  border-bottom: 2px solid #0ba7ce;
}
